[Unit]
Description=Start Panel Java Service


[Service]
WorkingDirectory=/opt/jars
#ExecStart=java -DserverProperty=/opt/properties/application.properties -jar distribution.jar
ExecStart=java -DserverProperty=/opt/properties/application.properties -javaagent:/opt/jars/apm-agent-latest.jar -Delastic.apm.service_name=productms-p -Delastic.apm.server_url=https://elastic-apm.joinventures.com:8200 -Delastic.apm.environment=production -Delastic.apm.application_packages=org.igp -jar distribution.jar
User=root
Type=simple

[Install]
WantedBy=multi-user.target
